:root {
  --color-main-bg: #41b3a3;
  --color-secondary-bg: #85dcbb;
  --color-main-text: #1d4e48;
  --color-accent: #e27d60;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: var(--color-main-text);
}

ul li {
  list-style: none;
}

body {
  font-family: sans-serif;
  background-color: var(--color-main-bg);
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}
