:root {
  --color-main-bg: #41b3a3;
  --color-secondary-bg: #85dcbb;
  --color-main-text: #1d4e48;
  --color-accent: #e27d60;

  --bp-large: 1200px;
  --bp-medium: 900px;
  --bp-small: 700px;
  --bp-smallest: 400px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

body {
  font-family: sans-serif;
  background-color: var(--color-main-bg);
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

/* .main {
  &__heading {
    padding-top: 1rem;
    margin-left: 1rem;
  }
} */

/* .hidden {
  display: none;
}

.button {
  color: var(--color-main-text);
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 5px 0 var(--color-main-bg);
  background-color: white;
}

.button:hover {
  box-shadow: none;
}

.button:active {
  color: white;
  background-color: var(--color-main-bg);
} */
